body
{
	background: #FFFCD8;	
}

@font-face
{
	font-family: CenturyGothic;
	src: url('Century_Gothic.TTF');
}

#stachesHeadline
{
	text-align: center;
}

#logo
{
	width: 200px;
	margin-top: 3%;
}

#header
{
	text-align: center;
}

#logoContainer
{
	text-align: center;
}

#profile
{
	margin-top: 10px;
	text-align: center;
}

#profilePic
{
	display: none;
}

#displayName
{
	margin-right: 25px;
}

#logoutButton
{
	width: 70px;
	color: white;
	background-color: #B55D4B;
	border-color: #D4A672;
	border-radius: 5px;		
	padding: 5px;
	margin-left: 10px;
}

#logoutButton:hover
{
	border-color: black;
}

#library
{
	width: inherit;	
	margin-left: 20px;
	margin-right: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {	
	#logoContainer
	{
		text-align: left;
	}

	#library
	{
		width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}

	#profile
	{
		margin-top: 25%; 
	}

	#profilePic
	{
		display: inline-block;
		width: 40px;
		margin-right: 5px;
	}
}