html
{
	background: #fffcd8;
}

body
{
	background: #fffcd8;	
}

#header
{
	text-align: center;
}

#profile
{
	display: none;
}

#library
{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#logo
{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

@font-face
{
	font-family: CenturyGothic;
	src: url('Century_Gothic.TTF');
}

@media (min-width: 768px) {
	#header
	{		
		vertical-align: middle;
		height: auto;
		overflow: hidden;	
	}

	#logo
	{
		float: left;
		display: inline;
		width: 200px;
		margin-left: 10px;
		margin-top: 10px;
	}

	#profile
	{
		display: inline-block;
		vertical-align: middle;
		float: right;		
		margin-top: 10px;
		margin-right: 10px;
	}

	#profilePic
	{
		width: 40px;
		margin-right: 5px;
	}

	#logoutLink
	{
		margin-left: 5px;
		margin-right: 5px;
	}

	#stachesHeadline
	{
		text-align: center;
	}

	#library 
	{
		width: 500px;
		text-align: justify;
		margin-right: auto;
		margin-left: auto;		
	}
}