body
{
	background: #fffcd8;	
}

@font-face
{
	font-family: CenturyGothic;
	src: url('Century_Gothic.TTF');
}

@font-face
{
	font-family: Thirsty;
	src: url('Thirsty.otf');
}

.list-group-item-heading
{
 padding: 15px;
 font-family: CenturyGothic;
 font-size: 16px;
}

#stachesHeadline
{
	font-family: Thirsty;
	text-align: center;
	font-size: 30px;
	
}



#mostRecent
{
	width: inherit;	
	margin-left: 20px;
	margin-right: 20px;
}

#userInfo
{
	display: block;
	width: 50%;
	text-align: left;
	margin: 0 auto;
	border: 1px solid #ccc;
	background: white;
	border-radius: 8px;
}

#textInfo
{
	font-family: CenturyGothic;
	font-size: 16px;
	display: inline-block;		
	vertical-align: text-bottom;
	padding: 0 0 0 10%;

}


#picture
{	
	display: inline-block;	
}

#profilePic
{
	display: inline-block;
	width: 200px;
	margin-right: 5px;
	

}


#mostRecent
{
	width: inherit;
	text-align: justify;
	margin-right: 20px;
	margin-left: 20px;		
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {	
	#logoContainer
	{
		text-align: left;
	}

	#mostRecent
	{
		width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}

	#logoutButton:hover
	{
		border-color: black;
	}

	.buttonStyle
	{		
		margin-top: 25%; 
	}
}
