Django==1.6.2
South==0.8.4
argparse==1.2.1
constants==0.6.0
django-tastypie==0.11.0
drest==0.9.12
httplib2==0.8
oauth2==1.5.211
oauthlib==0.6.1
psycopg2==2.5.2
python-dateutil==2.2
python-mimeparse==0.1.4
python-openid==2.2.5
python-social-auth==0.1.23
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
slumber==0.6.0
sqlparse==0.1.11
wsgiref==0.1.2
