{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}" />

{% block content %}
<div id = "login-form">
<img src = "{% static 'images\stache-it.png' %}" />
<a href = "/accounts/register" id = "sign-up">sign up</a>
	{% if form.errors %}
		<p class="error"> Invalid username or password </p>
	{% endif %}

	<form action='/accounts/auth/' method='post'>{% csrf_token %}
<img id = "envelope" src = "{% static 'images\envelope.png' %}" />
		<label for="username"></label>
		<input type="text" name="username" placeholder="" value="" id="username">
<img id = "key" src = "{% static 'images\key.png' %}" />
		<label for="password"></label>
		<input type ="password" name="password" placeholder="" value="" id="password">
		<input type="submit" value="login" />
<div id = "fb-login" ><a href="{% url 'socialauth_begin' 'facebook' %}"><img src = "{% static 'images\fb-logo.png' %}"/>Login with Facebook</a></div>
	</form>
<br>
</div>
{% endblock %}  
