{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}" />

{% load staticfiles %}
<script type="text/javascript" src="{% static 'js\login.js' %}"></script>

{% block content %}
<div id = "login-form">
  <img src = "{% static 'images\stache-it.png' %}" />
  <a href = "/accounts/register" id = "sign-up">sign up</a>
  {% if form.errors %}
  <p class="error">Invalid username or password</p>
  {% endif %}
  {% if loggedout %}
  <p id="logout">Successfully logged out.</p>
  {% endif %}
  {% if invalid %}
  <p id="invalid">Invalid login. Please try again.</p>
  {% endif %}
  <form id="login_form" action='/accounts/auth/' method='post'>{% csrf_token %}
      <label for="username"></label>
      <input type="text" name="username" placeholder="Username" value="" id="username">
      <label for="password"></label>
      <input type ="password" name="password" placeholder="Password" value="" id="password">
      <input type="submit" value="login" />
    <div id = "fb-login" >
      <a href="{% url 'social:begin' 'facebook' %}">
        <img src = "{% static 'images\fb-logo.png' %}"/>Login with Facebook
      </a></div>
  </form>
<br>
</div>
{% endblock %}  
